body {
    margin: 0;
    background: radial-gradient(#2c1034 0%, #161925 50%);
    overflow: hidden;
}

.scene {
    position: absolute;
    width: 100%;
    height: 100%;
}

.particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#capsule1 {
    top: 70%;
    left: 55%;
    transform: rotate(-30deg);
    width: 35vw;
    height: 13vh;
    border-radius: 100px;
    margin: 25px;
}

#capsule-content1 {
    position: absolute;
    top: -150px;
    width: 400%;
    height: 400%;
    filter: blur(20px);
    background: linear-gradient(-90deg, #ffb732 0%, #fa0a72 30%, #ffb732 66%, #fa0a72 100%);
    background-size: 325% 100%;
    animation: gradient1 10s linear infinite;
}

@keyframes gradient1 {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

#capsule2 {
    top: 0;
    left: 55%;
    transform: rotate(-30deg);
    width: 25vw;
    height: 20vh;
    border-radius: 1000px;
    margin: 5px;
}

#capsule-content2 {
    position: absolute;
    top: -150px;
    width: 400%;
    height: 400%;
    filter: blur(20px);
    background: linear-gradient(90deg, #FDAB60 0%, #C97BCA 20%, #4EBEC8 40%, #FDAB60 60%, #C97BCA 80%, #4EBEC8 100%);
    background-size: 400% 100%;
    animation: gradient2 10s linear infinite;
}

@keyframes gradient2 {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 20% 100%;
    }
}

#capsule3 {
    top: -95px;
    left: 10%;
    transform: rotate(-30deg);
    width: 105vw;
    height: 7.5px;
    border-radius: 1000px;
    margin: 5px;
}

#capsule-content3 {
    position: absolute;
    top: -10px;
    width: 400%;
    height: 400%;
    filter: blur(10px);
    background: linear-gradient(-90deg, #5900E2 0%, #F900E6 30%, #5900E2 66%, #F900E6 100%);
    background-size: 325% 100%;
    animation: gradient1 5s linear infinite;
}

#center-logo {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 553.2 680.4" style="enable-background:new 0 0 553.2 680.4;" xml:space="preserve"><path d="M551,349.2c-0.7-1.5-1.5-2.9-2.4-4.3c-9-12.7-20.1-23.3-32-33.2l0,0c-7-6.2-13.9-12.5-21-18.6c-8.3-7.2-16.7-14.4-25-21.6   l0,0c-7.1-6.2-14.2-12.4-21.4-18.6c-19.5-16.8-38.1-34.5-56.5-52.4l0,0c-8-8.6-16-17-23.4-26.1c-12.6-15.5-24.7-31.3-34.3-48.9   c-7.9-14.2-13.6-29.5-17.1-45.4l0,0c-0.4-4-0.8-7.9-1.2-11.9c-1.4-16.2,2.9-31.6,7.2-47c1.2-4.5,2.2-9.1,1.7-13.8   c-0.7-6.1-4.6-8.5-10.6-6.8c-5.7,1.8-11.1,4.4-16,7.8c-19.4,12.9-36,29.1-52.6,45.1c-35.2,34-68.2,70.2-100.7,106.8   c-36.5,41.1-71.6,83.3-105.5,126.6c-12.4,15.9-24.5,31.9-35.3,49c-7,11.1-6.5,15.8,2.7,27.7c0.8,0.9,1.6,1.7,2.4,2.5   c17,17.1,48.7,33.6,48.7,33.6c9.4,5.1,23.2,12.9,40.5,23.1l64.4,43.7c9.1,7.5,18.3,14.8,27.2,22.5c16.4,14.1,31.1,29.9,45,46.4l0,0   c15.7,20.3,29.4,42.1,40.7,65.1c4.5,10.5,8.5,21.1,12.4,31.8c3.2,9,6.6,17.9,11.5,26.2c2,4.4,4.7,8.5,8,12   c11.8,12.9,22.9,13,35.7,1.2c8.1-7.6,14.5-16.5,20.2-25.9c26.9-44.3,46-92.5,67.8-139.3l0,0c1.9-3.7,3.8-7.4,5.6-11.1   c13.4-27.7,27-55.2,44.5-80.6c15.3-22.2,32.6-41.4,61.1-46.9C553.2,366,555.6,358.4,551,349.2z M276.6,479   c-76.7,0-138.8-62.2-138.8-138.8c0-76.6,62.1-138.8,138.8-138.8c76.6,0,138.8,62.1,138.8,138.7C415.4,416.8,353.3,479,276.6,479   C276.6,479,276.6,479,276.6,479z"/></svg>'
        ) center/contain;
    mask: url('data:image/svg+xml;utf8,<svg version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 553.2 680.4" xml:space="preserve"><path d="M551,349.2c-0.7-1.5-1.5-2.9-2.4-4.3c-9-12.7-20.1-23.3-32-33.2l0,0c-7-6.2-13.9-12.5-21-18.6c-8.3-7.2-16.7-14.4-25-21.6   l0,0c-7.1-6.2-14.2-12.4-21.4-18.6c-19.5-16.8-38.1-34.5-56.5-52.4l0,0c-8-8.6-16-17-23.4-26.1c-12.6-15.5-24.7-31.3-34.3-48.9   c-7.9-14.2-13.6-29.5-17.1-45.4l0,0c-0.4-4-0.8-7.9-1.2-11.9c-1.4-16.2,2.9-31.6,7.2-47c1.2-4.5,2.2-9.1,1.7-13.8   c-0.7-6.1-4.6-8.5-10.6-6.8c-5.7,1.8-11.1,4.4-16,7.8c-19.4,12.9-36,29.1-52.6,45.1c-35.2,34-68.2,70.2-100.7,106.8   c-36.5,41.1-71.6,83.3-105.5,126.6c-12.4,15.9-24.5,31.9-35.3,49c-7,11.1-6.5,15.8,2.7,27.7c0.8,0.9,1.6,1.7,2.4,2.5   c17,17.1,48.7,33.6,48.7,33.6c9.4,5.1,23.2,12.9,40.5,23.1l64.4,43.7c9.1,7.5,18.3,14.8,27.2,22.5c16.4,14.1,31.1,29.9,45,46.4l0,0   c15.7,20.3,29.4,42.1,40.7,65.1c4.5,10.5,8.5,21.1,12.4,31.8c3.2,9,6.6,17.9,11.5,26.2c2,4.4,4.7,8.5,8,12   c11.8,12.9,22.9,13,35.7,1.2c8.1-7.6,14.5-16.5,20.2-25.9c26.9-44.3,46-92.5,67.8-139.3l0,0c1.9-3.7,3.8-7.4,5.6-11.1   c13.4-27.7,27-55.2,44.5-80.6c15.3-22.2,32.6-41.4,61.1-46.9C553.2,366,555.6,358.4,551,349.2z M276.6,479   c-76.7,0-138.8-62.2-138.8-138.8c0-76.6,62.1-138.8,138.8-138.8c76.6,0,138.8,62.1,138.8,138.7C415.4,416.8,353.3,479,276.6,479   C276.6,479,276.6,479,276.6,479z"/></svg>'
        ) center/contain;
    -webkit-mask-size: auto;
    -webkit-mask-repeat: no-repeat;
    mask-size: auto;
    mask-repeat: no-repeat;
    overflow: hidden;
}

#center-logo-content {
    width: 400%;
    height: 400%;
    background: linear-gradient(135deg, #FC9339 43%, #C4386C 57%);
}